
body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
main{
    margin:auto;
    padding:0px;
    width: 100%;
}
main header{
    margin: 0px;
    width: 100%;
}
nav{width: 100%;}
img{
    max-width:90%;
}

@media screen and (max-width:370px) {
    p{
        padding: 0px;
        width: 100%;
        overflow: hidden;
    }
}
.body{
    margin:0px;padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.ulsImp{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.lisImp{
    position: relative;
    padding: 5px;
    border-style: outset;
    margin-bottom: 70px;
    width: 100%;
}

.menu{
    display: flex;
    justify-content: flex-end;
    padding: 3px;
    list-style: none;
}
.card-headers{
    width: 100%;
    margin: auto;
    padding: 5px;
    background-color: rgba(0,0,0,.03);
}
.btnEdit{
    width: 30px;
    margin-right: 10px;
}
.btnDel{
    width: 30px;
}
.btnEditFolder{
    width: 30px;
    margin-right: 10px;
}
.btnDelFolder{
    width: 30px;
}
.btnAdd{
    position: relative;
    width:100%;
    color: green;
    background:linear-gradient(90deg,rgba(0, 24, 161, 0.144),rgb(0, 24, 161, 0.144),rgb(255,255,255),rgb(0, 24, 161, 0.144),rgb(0, 24, 161, 0.144)) ;
    font-size: 15pt;
    font-weight: bolder;
    border-radius: 15px/20px;
    outline: none;
}
.btnAdd:active{
    background:linear-gradient(90deg,rgba(0, 161, 21, 0.466),rgb(0, 161, 21, 0.466),rgb(255,255,255),rgb(0, 161, 21, 0.466),rgb(0, 161, 21, 0.466)) ;
}
#warning{
    position: fixed;
    width: auto;
    height: auto;
    z-index: 20;
    visibility: hidden;
    top:-150%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    animation: ride-up 1s;
}
#warning.fall{
    visibility: visible;
    top:50%;
    animation: fall 1s;
}
.save{
    position: relative;
    left: 100%;
    color:green;
    transform: translate(-50%,-600%);
    font-weight: bolder;
    animation: ride-up-save 2s;
}
@keyframes ride-up-save {0%{transform: translate(-50%,0%);}100%{transform: translate(-50%,-600%);}}
@keyframes fall {0%{top:-150%}100%{top:50%}}
@keyframes ride-up {0%{top:50%}100%{top:-150%;}}
#w{
    width: 100%;
    padding: 5px;
    background-color: brown;
    color: white;
    text-align: center;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#sw{
    width: 100%;
    padding: 5px;
    background-color: black;
    color:white;
    text-align: justify;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#arnaldo{
    width: 100%;
    padding: 5px;
    text-align: center;
    background-color: #888888;
}
#x{
    position: absolute;
    left: 100%;
    transform: translate(-50%,-65%);
}
#createFolder{
    float: right;
    margin-bottom: 50px;
}

#back{
    float: left;
    margin-bottom: 50px;
}
#ul-folder{
    list-style: none; clear: both;
    padding: 0px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    grid-template-rows: 1fr;
    grid-gap: 20px;
}

#legendas{
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
#menu-folders{
    position: fixed;
    top:30px;
    left: 20px;
    width: 50px;
    height: 50px;
    visibility: hidden;
}
#menu-folders.show{
    visibility: visible;
}
.folders{
    width: 85px;
    padding: 0px;
    visibility: visible;
}
.folders input{
    object-position: center center;
    object-fit: contain;
}
.folders span{
    width: 100%;
    overflow-x: hidden;
    transition: all 1s;
}
.folders span:hover{
    overflow-x: auto;
    background: rgb(189, 163, 163);
}
.folders.hidden{
    visibility: hidden;
}
.btn-save{visibility: visible;}
.btn-save.hidde{
    visibility: hidden;
}
.card-anexos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.anexos-item{
    width: 60px;
    
}
.anexos-item.pdf{
    width: 60px;
    height: 80px;
    margin: 0px;
    padding: 0px;
}
.anexos-item.docx{
    width: 60px;
    height: 80px;
    margin: 5px;
    padding: 0px;
}
.anexos-item.apk{
    width: 60px;
    margin: 5px;
    padding: 0px;
}
.anexos-item.video{
    width: 60px;
    margin: 3px;
    padding: 0px;
}
.anexos-item.xlsx{
    width: 60px;
    margin: 3px;
    padding: 0px;
}
.anexos-item.audio{
    width: 40px;
    margin: 3px;
    padding: 0px;
}
.anexos-item.default-file{
    width: 60px;
    margin: 3px;
    padding: 0px;
}
.menu-modal-file{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-modal-file .x{
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: yellowgreen;
    color: white;
    border-radius: 360px;

}
.options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.options input{
    margin: 5px;
}